@import "~styles/variables.styl"

.header-fixed
  position fixed
  top 0
  left 0
  right 0
  height: $header-height
  line-height: $header-height
  text-align center
  color #fff
  background $background-color
  font-size .32rem
  .back
    position: absolute
    top: 0
    left: 0
    width .64rem

