@import "~styles/variables.styl"

.banner
  position relative
  overflow hidden
  height 0
  padding-bottom 55%
  .header-abs
    position: absolute
    left: .2rem
    top .2rem
    width .8rem
    height .8rem
    border-radius .4rem
    background rgba(0,0,0,.8rem)
    text-align center
    line-height .8rem
    .back
      color #fff
      font-size .4rem
  .banner-img
    width 100%
  .banner-info
    display flex
    position absolute
    left 0
    right 0
    bottom 0
    line-height .6rem
    color #fff
    background-image linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8))
    .banner-title
      flex 1
      font-size .32rem
      padding 0 .2rem
    .banner-number
      padding 0 .4rem
      line-height .32rem
      height .32rem
      border-radius .2rem
      margin-top .14rem
      background rgba(0,0,0,.8)
      font-size .24rem
      .image
        font-size 10px

