@import "~styles/variables.styl"

.header
  display flex
  line-height $header-height
  background-color $background-color
  color #fff
  .header-left
    width .64rem
    float left
    .back
      text-align center
      font-size .4rem
  .header-input
    flex 1
    height .64rem
    line-height .64rem
    background #fff
    margin .12rem .2rem
    padding 0 .2rem
    border-radius .1rem
    color #ccc
  .header-right
    width 1.24rem
    float right
    text-align center
    color #fff
    .arrow
      margin-left -.04rem
      font-size .24rem

